In [2]:
# Import Library
import pandas as pd

In [3]:
#Import the files to Google Colab
url = 'https://raw.githubusercontent.com/rc-dbe/bigdatacertification/master/dataset/churn_trasnsformed_new.csv'
df_csv = pd.read_csv(url, sep=',',)

# Show 10 first Row
df_csv.head()

,Unnamed: 0,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,1,1,...,0,1,0,1,0,0,1,2985,2985.0,0
1,1,1,0,0,1,1,0,0,1,34,...,1,0,1,0,0,1,0,5695,18895.0,0
2,2,1,0,0,1,1,0,0,1,2,...,0,1,0,1,0,1,0,5385,10815.0,1
3,3,1,0,0,1,1,0,0,1,45,...,1,0,1,0,0,1,1,423,184075.0,0
4,4,0,1,0,1,1,0,0,1,2,...,0,1,0,1,0,0,1,707,15165.0,1

In [4]:
# Remove "Unnamed:O" Coloumn
df = df_csv.drop("Unnamed: 0", axis=1)
df.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0,1,0,1,0,1,0,1,1,0,...,0,1,0,1,0,0,1,2985,2985.0,0
1,1,0,0,1,1,0,0,1,34,1,...,1,0,1,0,0,1,0,5695,18895.0,0
2,1,0,0,1,1,0,0,1,2,1,...,0,1,0,1,0,1,0,5385,10815.0,1
3,1,0,0,1,1,0,0,1,45,0,...,1,0,1,0,0,1,1,423,184075.0,0
4,0,1,0,1,1,0,0,1,2,1,...,0,1,0,1,0,0,1,707,15165.0,1

In [5]:
# Check the Data Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender_0            7043 non-null   int64
 1   gender_1            7043 non-null   int64
 2   SeniorCitizen_0     7043 non-null   int64
 3   SeniorCitizen_1     7043 non-null   int64
 4   Partner_0           7043 non-null   int64
 5   Partner_1           7043 non-null   int64
 6   Dependents_0        7043 non-null   int64
 7   Dependents_1        7043 non-null   int64
 8   tenure              7043 non-null   int64
 9   PhoneService_0      7043 non-null   int64
 10  PhoneService_1      7043 non-null   int64
 11  MultipleLines_0     7043 non-null   int64
 12  MultipleLines_1     7043 non-null   int64
 13  MultipleLines_2     7043 non-null   int64
 14  InternetService_0   7043 non-null   int64
 15  InternetService_1   7043 non-null   int64
 16  InternetService_2   7043 non-null   int64
 17  OnlineSecurity_0    7043 non-null   int64
 18  OnlineSecurity_1    7043 non-null   int64
 19  OnlineSecurity_2    7043 non-null   int64
 20  OnlineBackup_0      7043 non-null   int64
 21  OnlineBackup_1      7043 non-null   int64
 22  OnlineBackup_2      7043 non-null   int64
 23  DeviceProtection_0  7043 non-null   int64
 24  DeviceProtection_1  7043 non-null   int64
 25  DeviceProtection_2  7043 non-null   int64
 26  TechSupport_0       7043 non-null   int64
 27  TechSupport_1       7043 non-null   int64
 28  TechSupport_2       7043 non-null   int64
 29  StreamingTV_0       7043 non-null   int64
 30  StreamingTV_1       7043 non-null   int64
 31  StreamingTV_2       7043 non-null   int64
 32  StreamingMovies_0   7043 non-null   int64
 33  StreamingMovies_1   7043 non-null   int64
 34  StreamingMovies_2   7043 non-null   int64
 35  Contract_0          7043 non-null   int64
 36  Contract_1          7043 non-null   int64
 37  Contract_2          7043 non-null   int64
 38  PaperlessBilling_0  7043 non-null   int64
 39  PaperlessBilling_1  7043 non-null   int64
 40  PaymentMethod_0     7043 non-null   int64
 41  PaymentMethod_1     7043 non-null   int64
 42  PaymentMethod_2     7043 non-null   int64
 43  MonthlyCharges      7043 non-null   int64
 44  TotalCharges        7043 non-null   float64
 45  Churn               7043 non-null   int64
dtypes: float64(1), int64(45)
memory usage: 2.5 MB

In [6]:
#Import MinMax Scaler
from sklearn.preprocessing import MinMaxScaler

# initialize min-max scaler
mm_scaler = MinMaxScaler()
column_names = df.columns.tolist()
column_names.remove('Churn')

# Transform all attributes
df[column_names] = mm_scaler.fit_transform(df[column_names])
df.sort_index(inplace=True)
df.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges,Churn
0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.013889,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.250169,0.003420,0
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.472222,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.478745,0.021766,0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.452598,0.012449,1
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.625000,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.034076,0.212235,0
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.058030,0.017465,1

In [7]:
# Selecting the Feature, by remove the unused feature
feature = ['Churn']
train_feature = df.drop(feature, axis=1)

# Set The Target
train_target = df["Churn"]

In [8]:
# Show the Feature
train_feature.head(5)

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_0,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges
0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.013889,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.250169,0.003420
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.472222,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.478745,0.021766
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.452598,0.012449
3,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.625000,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.034076,0.212235
4,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.058030,0.017465

In [9]:
# Split Data
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(train_feature ,train_target, shuffle = True, test_size=0.9, random_state=1)

In [10]:
# Show the training data
X_train.head()

,gender_0,gender_1,SeniorCitizen_0,SeniorCitizen_1,Partner_0,Partner_1,Dependents_0,Dependents_1,tenure,PhoneService_0,...,Contract_0,Contract_1,Contract_2,PaperlessBilling_0,PaperlessBilling_1,PaymentMethod_0,PaymentMethod_1,PaymentMethod_2,MonthlyCharges,TotalCharges
4342,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.722222,1.0,...,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.503205,0.357814
775,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.931680,0.930030
4871,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.805556,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.061825,0.049571
4648,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.027778,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.057692,0.000144
5209,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.925776,0.090524

In [11]:
# Import Library
from sklearn.neural_network import MLPClassifier

# Fitting Model
mlp = MLPClassifier(hidden_layer_sizes=(5), activation = 'relu', solver = 'adam',max_iter= 10000, verbose = True)
mlp = mlp.fit(X_train,y_train)

# Prediction to Test Dataset
y_predmlp = mlp.predict(X_test)

Iteration 1, loss = 0.67213005
Iteration 2, loss = 0.65367372
Iteration 3, loss = 0.63744405
Iteration 4, loss = 0.62167315
Iteration 5, loss = 0.60902575
Iteration 6, loss = 0.59634264
Iteration 7, loss = 0.58733516
Iteration 8, loss = 0.57975926
Iteration 9, loss = 0.57220252
Iteration 10, loss = 0.56597894
Iteration 11, loss = 0.55986694
Iteration 12, loss = 0.55391096
Iteration 13, loss = 0.54823667
Iteration 14, loss = 0.54267597
Iteration 15, loss = 0.53728190
Iteration 16, loss = 0.53205319
Iteration 17, loss = 0.52712733
Iteration 18, loss = 0.52292639
Iteration 19, loss = 0.51844568
Iteration 20, loss = 0.51436963
Iteration 21, loss = 0.51059064
Iteration 22, loss = 0.50699685
Iteration 23, loss = 0.50355560
Iteration 24, loss = 0.50059776
Iteration 25, loss = 0.49765313
Iteration 26, loss = 0.49492024
Iteration 27, loss = 0.49232995
Iteration 28, loss = 0.48994670
Iteration 29, loss = 0.48764374
Iteration 30, loss = 0.48564657
Iteration 31, loss = 0.48383153
Iteration 32, loss = 0.48184049
Iteration 33, loss = 0.48016800
Iteration 34, loss = 0.47845688
Iteration 35, loss = 0.47700728
Iteration 36, loss = 0.47553359
Iteration 37, loss = 0.47413508
Iteration 38, loss = 0.47294024
Iteration 39, loss = 0.47166634
Iteration 40, loss = 0.47050616
Iteration 41, loss = 0.46948024
Iteration 42, loss = 0.46847005
Iteration 43, loss = 0.46750809
Iteration 44, loss = 0.46673687
Iteration 45, loss = 0.46572398
Iteration 46, loss = 0.46497194
Iteration 47, loss = 0.46409760
Iteration 48, loss = 0.46339167
Iteration 49, loss = 0.46271029
Iteration 50, loss = 0.46204341
Iteration 51, loss = 0.46135493
Iteration 52, loss = 0.46075377
Iteration 53, loss = 0.46027820
Iteration 54, loss = 0.45956102
Iteration 55, loss = 0.45895230
Iteration 56, loss = 0.45848653
Iteration 57, loss = 0.45795906
Iteration 58, loss = 0.45739852
Iteration 59, loss = 0.45695335
Iteration 60, loss = 0.45637186
Iteration 61, loss = 0.45592412
Iteration 62, loss = 0.45542819
Iteration 63, loss = 0.45499923
Iteration 64, loss = 0.45453167
Iteration 65, loss = 0.45416497
Iteration 66, loss = 0.45359463
Iteration 67, loss = 0.45337390
Iteration 68, loss = 0.45294421
Iteration 69, loss = 0.45252232
Iteration 70, loss = 0.45204053
Iteration 71, loss = 0.45193944
Iteration 72, loss = 0.45147007
Iteration 73, loss = 0.45107151
Iteration 74, loss = 0.45071793
Iteration 75, loss = 0.45041459
Iteration 76, loss = 0.45029215
Iteration 77, loss = 0.44974596
Iteration 78, loss = 0.44945888
Iteration 79, loss = 0.44907033
Iteration 80, loss = 0.44877310
Iteration 81, loss = 0.44848122
Iteration 82, loss = 0.44818034
Iteration 83, loss = 0.44800839
Iteration 84, loss = 0.44765638
Iteration 85, loss = 0.44739480
Iteration 86, loss = 0.44713531
Iteration 87, loss = 0.44686548
Iteration 88, loss = 0.44674511
Iteration 89, loss = 0.44646032
Iteration 90, loss = 0.44616722
Iteration 91, loss = 0.44596490
Iteration 92, loss = 0.44574947
Iteration 93, loss = 0.44565797
Iteration 94, loss = 0.44533309
Iteration 95, loss = 0.44514675
Iteration 96, loss = 0.44494298
Iteration 97, loss = 0.44466275
Iteration 98, loss = 0.44470360
Iteration 99, loss = 0.44425536
Iteration 100, loss = 0.44405016
Iteration 101, loss = 0.44386150
Iteration 102, loss = 0.44363027
Iteration 103, loss = 0.44342943
Iteration 104, loss = 0.44324668
Iteration 105, loss = 0.44310265
Iteration 106, loss = 0.44291174
Iteration 107, loss = 0.44271555
Iteration 108, loss = 0.44249277
Iteration 109, loss = 0.44229868
Iteration 110, loss = 0.44210880
Iteration 111, loss = 0.44216435
Iteration 112, loss = 0.44201904
Iteration 113, loss = 0.44179210
Iteration 114, loss = 0.44151481
Iteration 115, loss = 0.44149272
Iteration 116, loss = 0.44123599
Iteration 117, loss = 0.44131118
Iteration 118, loss = 0.44089149
Iteration 119, loss = 0.44074000
Iteration 120, loss = 0.44064525
Iteration 121, loss = 0.44037702
Iteration 122, loss = 0.44039217
Iteration 123, loss = 0.44018505
Iteration 124, loss = 0.43994073
Iteration 125, loss = 0.43975184
Iteration 126, loss = 0.43965340
Iteration 127, loss = 0.43954484
Iteration 128, loss = 0.43938733
Iteration 129, loss = 0.43938531
Iteration 130, loss = 0.43932090
Iteration 131, loss = 0.43903567
Iteration 132, loss = 0.43889252
Iteration 133, loss = 0.43867776
Iteration 134, loss = 0.43857158
Iteration 135, loss = 0.43851221
Iteration 136, loss = 0.43829825
Iteration 137, loss = 0.43824197
Iteration 138, loss = 0.43808268
Iteration 139, loss = 0.43807270
Iteration 140, loss = 0.43784724
Iteration 141, loss = 0.43770068
Iteration 142, loss = 0.43748971
Iteration 143, loss = 0.43738158
Iteration 144, loss = 0.43735642
Iteration 145, loss = 0.43718311
Iteration 146, loss = 0.43715675
Iteration 147, loss = 0.43713817
Iteration 148, loss = 0.43690739
Iteration 149, loss = 0.43668149
Iteration 150, loss = 0.43659612
Iteration 151, loss = 0.43651513
Iteration 152, loss = 0.43632665
Iteration 153, loss = 0.43624247
Iteration 154, loss = 0.43611598
Iteration 155, loss = 0.43599605
Iteration 156, loss = 0.43586022
Iteration 157, loss = 0.43578276
Iteration 158, loss = 0.43565691
Iteration 159, loss = 0.43554426
Iteration 160, loss = 0.43543303
Iteration 161, loss = 0.43535911
Iteration 162, loss = 0.43529595
Iteration 163, loss = 0.43507273
Iteration 164, loss = 0.43504954
Iteration 165, loss = 0.43485436
Iteration 166, loss = 0.43481186
Iteration 167, loss = 0.43471573
Iteration 168, loss = 0.43460769
Iteration 169, loss = 0.43445686
Iteration 170, loss = 0.43435092
Iteration 171, loss = 0.43421607
Iteration 172, loss = 0.43428366
Iteration 173, loss = 0.43402203
Iteration 174, loss = 0.43392210
Iteration 175, loss = 0.43376170
Iteration 176, loss = 0.43369076
Iteration 177, loss = 0.43357746
Iteration 178, loss = 0.43342540
Iteration 179, loss = 0.43355938
Iteration 180, loss = 0.43322357
Iteration 181, loss = 0.43304573
Iteration 182, loss = 0.43309107
Iteration 183, loss = 0.43308800
Iteration 184, loss = 0.43280519
Iteration 185, loss = 0.43261114
Iteration 186, loss = 0.43258081
Iteration 187, loss = 0.43254051
Iteration 188, loss = 0.43235679
Iteration 189, loss = 0.43221051
Iteration 190, loss = 0.43217090
Iteration 191, loss = 0.43211980
Iteration 192, loss = 0.43194737
Iteration 193, loss = 0.43172981
Iteration 194, loss = 0.43176108
Iteration 195, loss = 0.43173644
Iteration 196, loss = 0.43174822
Iteration 197, loss = 0.43153014
Iteration 198, loss = 0.43153859
Iteration 199, loss = 0.43143498
Iteration 200, loss = 0.43124311
Iteration 201, loss = 0.43111442
Iteration 202, loss = 0.43098830
Iteration 203, loss = 0.43089154
Iteration 204, loss = 0.43071965
Iteration 205, loss = 0.43083222
Iteration 206, loss = 0.43068508
Iteration 207, loss = 0.43045262
Iteration 208, loss = 0.43037792
Iteration 209, loss = 0.43032173
Iteration 210, loss = 0.43039370
Iteration 211, loss = 0.43014518
Iteration 212, loss = 0.43008650
Iteration 213, loss = 0.42997139
Iteration 214, loss = 0.42991232
Iteration 215, loss = 0.42979946
Iteration 216, loss = 0.42976207
Iteration 217, loss = 0.42956204
Iteration 218, loss = 0.42950033
Iteration 219, loss = 0.42938770
Iteration 220, loss = 0.42930163
Iteration 221, loss = 0.42924705
Iteration 222, loss = 0.42915614
Iteration 223, loss = 0.42900587
Iteration 224, loss = 0.42892905
Iteration 225, loss = 0.42880527
Iteration 226, loss = 0.42881110
Iteration 227, loss = 0.42880759
Iteration 228, loss = 0.42865847
Iteration 229, loss = 0.42849817
Iteration 230, loss = 0.42854306
Iteration 231, loss = 0.42835531
Iteration 232, loss = 0.42821429
Iteration 233, loss = 0.42815156
Iteration 234, loss = 0.42807469
Iteration 235, loss = 0.42803559
Iteration 236, loss = 0.42792855
Iteration 237, loss = 0.42780867
Iteration 238, loss = 0.42774200
Iteration 239, loss = 0.42770460
Iteration 240, loss = 0.42766387
Iteration 241, loss = 0.42749498
Iteration 242, loss = 0.42737937
Iteration 243, loss = 0.42744681
Iteration 244, loss = 0.42721562
Iteration 245, loss = 0.42728224
Iteration 246, loss = 0.42710511
Iteration 247, loss = 0.42703273
Iteration 248, loss = 0.42688963
Iteration 249, loss = 0.42687308
Iteration 250, loss = 0.42666789
Iteration 251, loss = 0.42660685
Iteration 252, loss = 0.42645244
Iteration 253, loss = 0.42656359
Iteration 254, loss = 0.42630046
Iteration 255, loss = 0.42629633
Iteration 256, loss = 0.42623104
Iteration 257, loss = 0.42610646
Iteration 258, loss = 0.42614722
Iteration 259, loss = 0.42590225
Iteration 260, loss = 0.42581949
Iteration 261, loss = 0.42573388
Iteration 262, loss = 0.42555339
Iteration 263, loss = 0.42558486
Iteration 264, loss = 0.42555716
Iteration 265, loss = 0.42557227
Iteration 266, loss = 0.42547812
Iteration 267, loss = 0.42528177
Iteration 268, loss = 0.42529035
Iteration 269, loss = 0.42507059
Iteration 270, loss = 0.42498705
Iteration 271, loss = 0.42486211
Iteration 272, loss = 0.42479024
Iteration 273, loss = 0.42466441
Iteration 274, loss = 0.42463540
Iteration 275, loss = 0.42469032
Iteration 276, loss = 0.42459714
Iteration 277, loss = 0.42437652
Iteration 278, loss = 0.42432044
Iteration 279, loss = 0.42421377
Iteration 280, loss = 0.42412768
Iteration 281, loss = 0.42406093
Iteration 282, loss = 0.42407727
Iteration 283, loss = 0.42384103
Iteration 284, loss = 0.42393140
Iteration 285, loss = 0.42396549
Iteration 286, loss = 0.42362774
Iteration 287, loss = 0.42364724
Iteration 288, loss = 0.42351962
Iteration 289, loss = 0.42336877
Iteration 290, loss = 0.42348667
Iteration 291, loss = 0.42334548
Iteration 292, loss = 0.42322825
Iteration 293, loss = 0.42307682
Iteration 294, loss = 0.42316647
Iteration 295, loss = 0.42286885
Iteration 296, loss = 0.42286508
Iteration 297, loss = 0.42280998
Iteration 298, loss = 0.42280187
Iteration 299, loss = 0.42267670
Iteration 300, loss = 0.42249821
Iteration 301, loss = 0.42257347
Iteration 302, loss = 0.42235663
Iteration 303, loss = 0.42226211
Iteration 304, loss = 0.42219890
Iteration 305, loss = 0.42219994
Iteration 306, loss = 0.42190373
Iteration 307, loss = 0.42209885
Iteration 308, loss = 0.42196248
Iteration 309, loss = 0.42185329
Iteration 310, loss = 0.42179268
Iteration 311, loss = 0.42159055
Iteration 312, loss = 0.42153168
Iteration 313, loss = 0.42150146
Iteration 314, loss = 0.42145088
Iteration 315, loss = 0.42135535
Iteration 316, loss = 0.42124117
Iteration 317, loss = 0.42120226
Iteration 318, loss = 0.42113308
Iteration 319, loss = 0.42096238
Iteration 320, loss = 0.42094091
Iteration 321, loss = 0.42086932
Iteration 322, loss = 0.42080652
Iteration 323, loss = 0.42068774
Iteration 324, loss = 0.42071728
Iteration 325, loss = 0.42052667
Iteration 326, loss = 0.42039886
Iteration 327, loss = 0.42043196
Iteration 328, loss = 0.42031494
Iteration 329, loss = 0.42036171
Iteration 330, loss = 0.42013276
Iteration 331, loss = 0.42008618
Iteration 332, loss = 0.42006499
Iteration 333, loss = 0.41990926
Iteration 334, loss = 0.41982197
Iteration 335, loss = 0.41979824
Iteration 336, loss = 0.41970665
Iteration 337, loss = 0.41961963
Iteration 338, loss = 0.41959485
Iteration 339, loss = 0.41970400
Iteration 340, loss = 0.41943837
Iteration 341, loss = 0.41944952
Iteration 342, loss = 0.41931767
Iteration 343, loss = 0.41921492
Iteration 344, loss = 0.41923619
Iteration 345, loss = 0.41931861
Iteration 346, loss = 0.41906042
Iteration 347, loss = 0.41901610
Iteration 348, loss = 0.41886868
Iteration 349, loss = 0.41879484
Iteration 350, loss = 0.41880729
Iteration 351, loss = 0.41866287
Iteration 352, loss = 0.41881092
Iteration 353, loss = 0.41875206
Iteration 354, loss = 0.41878570
Iteration 355, loss = 0.41855275
Iteration 356, loss = 0.41845564
Iteration 357, loss = 0.41833519
Iteration 358, loss = 0.41829373
Iteration 359, loss = 0.41816016
Iteration 360, loss = 0.41806152
Iteration 361, loss = 0.41798272
Iteration 362, loss = 0.41795400
Iteration 363, loss = 0.41783771
Iteration 364, loss = 0.41785432
Iteration 365, loss = 0.41785027
Iteration 366, loss = 0.41767631
Iteration 367, loss = 0.41783481
Iteration 368, loss = 0.41758557
Iteration 369, loss = 0.41765217
Iteration 370, loss = 0.41722371
Iteration 371, loss = 0.41756219
Iteration 372, loss = 0.41753110
Iteration 373, loss = 0.41732276
Iteration 374, loss = 0.41718296
Iteration 375, loss = 0.41701930
Iteration 376, loss = 0.41702560
Iteration 377, loss = 0.41721278
Iteration 378, loss = 0.41694278
Iteration 379, loss = 0.41698000
Iteration 380, loss = 0.41696304
Iteration 381, loss = 0.41679647
Iteration 382, loss = 0.41661850
Iteration 383, loss = 0.41664319
Iteration 384, loss = 0.41654475
Iteration 385, loss = 0.41644903
Iteration 386, loss = 0.41634345
Iteration 387, loss = 0.41629122
Iteration 388, loss = 0.41617025
Iteration 389, loss = 0.41614484
Iteration 390, loss = 0.41610133
Iteration 391, loss = 0.41602039
Iteration 392, loss = 0.41598600
Iteration 393, loss = 0.41584377
Iteration 394, loss = 0.41574667
Iteration 395, loss = 0.41596026
Iteration 396, loss = 0.41584815
Iteration 397, loss = 0.41565140
Iteration 398, loss = 0.41574132
Iteration 399, loss = 0.41575942
Iteration 400, loss = 0.41583814
Iteration 401, loss = 0.41543299
Iteration 402, loss = 0.41548232
Iteration 403, loss = 0.41529497
Iteration 404, loss = 0.41526836
Iteration 405, loss = 0.41534418
Iteration 406, loss = 0.41514051
Iteration 407, loss = 0.41502446
Iteration 408, loss = 0.41499952
Iteration 409, loss = 0.41553439
Iteration 410, loss = 0.41499693
Iteration 411, loss = 0.41498871
Iteration 412, loss = 0.41498674
Iteration 413, loss = 0.41476878
Iteration 414, loss = 0.41458656
Iteration 415, loss = 0.41478363
Iteration 416, loss = 0.41454453
Iteration 417, loss = 0.41448392
Iteration 418, loss = 0.41443516
Iteration 419, loss = 0.41437824
Iteration 420, loss = 0.41442022
Iteration 421, loss = 0.41426005
Iteration 422, loss = 0.41421273
Iteration 423, loss = 0.41416260
Iteration 424, loss = 0.41413052
Iteration 425, loss = 0.41401844
Iteration 426, loss = 0.41399339
Iteration 427, loss = 0.41389900
Iteration 428, loss = 0.41446591
Iteration 429, loss = 0.41384040
Iteration 430, loss = 0.41365347
Iteration 431, loss = 0.41383961
Iteration 432, loss = 0.41407290
Iteration 433, loss = 0.41387890
Iteration 434, loss = 0.41370577
Iteration 435, loss = 0.41343632
Iteration 436, loss = 0.41348181
Iteration 437, loss = 0.41377543
Iteration 438, loss = 0.41352917
Iteration 439, loss = 0.41338179
Iteration 440, loss = 0.41330051
Iteration 441, loss = 0.41320125
Iteration 442, loss = 0.41330465
Iteration 443, loss = 0.41321940
Iteration 444, loss = 0.41298126
Iteration 445, loss = 0.41291552
Iteration 446, loss = 0.41307777
Iteration 447, loss = 0.41293815
Iteration 448, loss = 0.41273353
Iteration 449, loss = 0.41267741
Iteration 450, loss = 0.41266955
Iteration 451, loss = 0.41265629
Iteration 452, loss = 0.41268045
Iteration 453, loss = 0.41285210
Iteration 454, loss = 0.41258135
Iteration 455, loss = 0.41237831
Iteration 456, loss = 0.41236974
Iteration 457, loss = 0.41248902
Iteration 458, loss = 0.41227054
Iteration 459, loss = 0.41213181
Iteration 460, loss = 0.41216359
Iteration 461, loss = 0.41212736
Iteration 462, loss = 0.41203370
Iteration 463, loss = 0.41193235
Iteration 464, loss = 0.41225173
Iteration 465, loss = 0.41217491
Iteration 466, loss = 0.41193289
Iteration 467, loss = 0.41172986
Iteration 468, loss = 0.41209948
Iteration 469, loss = 0.41176349
Iteration 470, loss = 0.41162278
Iteration 471, loss = 0.41152428
Iteration 472, loss = 0.41161327
Iteration 473, loss = 0.41157431
Iteration 474, loss = 0.41142962
Iteration 475, loss = 0.41154998
Iteration 476, loss = 0.41129615
Iteration 477, loss = 0.41127671
Iteration 478, loss = 0.41118788
Iteration 479, loss = 0.41130141
Iteration 480, loss = 0.41113634
Iteration 481, loss = 0.41112278
Iteration 482, loss = 0.41105248
Iteration 483, loss = 0.41099992
Iteration 484, loss = 0.41106318
Iteration 485, loss = 0.41080598
Iteration 486, loss = 0.41087435
Iteration 487, loss = 0.41134061
Iteration 488, loss = 0.41066982
Iteration 489, loss = 0.41057910
Iteration 490, loss = 0.41085213
Iteration 491, loss = 0.41086698
Iteration 492, loss = 0.41084738
Iteration 493, loss = 0.41047908
Iteration 494, loss = 0.41110416
Iteration 495, loss = 0.41062712
Iteration 496, loss = 0.41040684
Iteration 497, loss = 0.41054077
Iteration 498, loss = 0.41042763
Iteration 499, loss = 0.41022227
Iteration 500, loss = 0.41024705
Iteration 501, loss = 0.41027006
Iteration 502, loss = 0.41017289
Iteration 503, loss = 0.41012642
Iteration 504, loss = 0.41000370
Iteration 505, loss = 0.41055027
Iteration 506, loss = 0.41055088
Iteration 507, loss = 0.41001970
Iteration 508, loss = 0.40990887
Iteration 509, loss = 0.40986970
Iteration 510, loss = 0.40983310
Iteration 511, loss = 0.40985817
Iteration 512, loss = 0.40992960
Iteration 513, loss = 0.40982899
Iteration 514, loss = 0.40964102
Iteration 515, loss = 0.40956418
Iteration 516, loss = 0.40954299
Iteration 517, loss = 0.40948305
Iteration 518, loss = 0.40949736
Iteration 519, loss = 0.40940076
Iteration 520, loss = 0.40933256
Iteration 521, loss = 0.40940437
Iteration 522, loss = 0.40938581
Iteration 523, loss = 0.40937110
Iteration 524, loss = 0.40925899
Iteration 525, loss = 0.40918284
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

In [12]:
print('Number of Layer =', mlp.n_layers_)
print('Number of Iteration =', mlp.n_iter_)
print('Current loss computed with the loss function =', mlp.loss_)

Number of Layer = 3
Number of Iteration = 525
Current loss computed with the loss function = 0.4091828379014478

In [13]:
# Import the metrics class
from sklearn import metrics


# Confussion Matrix
cnf_matrixmlp = metrics.confusion_matrix(y_test, y_predmlp)
cnf_matrixmlp

array([[4099,  575],
       [ 712,  953]])

In [14]:
# Show the Accuracy, Precision, Recall, F1, etc.
acc_mlp = metrics.accuracy_score(y_test, y_predmlp)
prec_mlp = metrics.precision_score(y_test, y_predmlp)
rec_mlp = metrics.recall_score(y_test, y_predmlp)
f1_mlp = metrics.f1_score(y_test, y_predmlp)
kappa_mlp = metrics.cohen_kappa_score(y_test, y_predmlp)

print("Accuracy:", acc_mlp)
print("Precision:", prec_mlp)
print("Recall:", rec_mlp)
print("F1 Score:", f1_mlp)
print("Cohens Kappa Score:", kappa_mlp)

Accuracy: 0.7969711310932324
Precision: 0.6236910994764397
Recall: 0.5723723723723724
F1 Score: 0.5969307860945818
Cohens Kappa Score: 0.4615765367732064

## Q1

**Split Data:** Splitting the dataset into two parts: the training set and the test set.

- `X_train` and `X_tes`t will contain the features (independent variables) for the training and testing datasets, respectively.
- `y_train` and `y_test` will contain the corresponding target labels (the 'Churn' column in this case) for the training and testing datasets, respectively.
- `shuffle=True` ensures that the data is randomly shuffled before splitting.
- `test_size=0.3` means that 30% of the data will be used for testing, and 70% for training.
- `random_state=1` sets a seed for the random number generator to ensure reproducibility. Different values will result in different random splits

**Confussion Matrix:** A table that is often used to describe the performance of a classification model. It shows the counts of True Positives (TP), True Negatives (TN), False Positives (FP), and False Negatives (FN).

- `y_test` contains the true labels of the test dataset
- `y_predmlp` contains the predicated labels generated by the MLPClassifier

**Other definitions:**
- `accuracy_score` calculates the accuracy of the model, which is the proportion of correctly predicted instances.
- `precision_score` calculates precision, which is the ratio of true positives to the total predicted positives. It measures how many of the predicted positive cases were correct.
- `recall_score` calculates recall, which is the ratio of true positives to the total actual positives. It measures how many of the actual positive cases were correctly predicted.
- `f1_score` calculates the F1 score, which is the harmonic mean of precision and recall. It provides a balance between precision and recall.
- `cohen_kappa_score` calculates Cohen's Kappa Score, which measures the agreement between the predicted and actual labels while taking into account the possibility of agreement by chance.

## Q2

Main observations:
1. Number of Iteration increased on the 10%, this is because training on smaller dataset can make convergence slower.
2. Confusion matrix shows different counts because model's predications are different when trained on smaller dataset.
3. Accuracy, Precision, Recall, F1 and CKS a bit better on the larger training dataset.

The deference between both datasets are too small, hence, I think training with 10% is acceptable to save computational resources.

In [20]:
# Import libraries
import pandas as pd
from sklearn.datasets import make_regression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error

# Load the dataset with TotalCharges as the target variable
url = 'https://raw.githubusercontent.com/rc-dbe/bigdatacertification/master/dataset/churn_trasnsformed_new.csv'
df = pd.read_csv(url, sep=',')

# Remove "Unnamed: 0" column
df = df.drop("Unnamed: 0", axis=1)

# initialize min-max scaler
mm_scaler = MinMaxScaler()
column_names = df.columns.tolist()

# Transform all attributes
df[column_names] = mm_scaler.fit_transform(df[column_names])
df.sort_index(inplace=True)

# Set TotalCharges as the target variable
target = 'TotalCharges'
feature_cols = [col for col in df.columns if col != target]

X = df[feature_cols]
y = df[[target]]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# Train a Linear Regression model
regressor = GradientBoostingRegressor()
model = MultiOutputRegressor(regressor)
model.fit(X_train, y_train)

# Prediction to Test Dataset
y_predict = model.predict(X_test)

# Calculate the mean squared error (MSE)
mse = mean_squared_error(y_test, y_predict)
print("Mean Squared Error (MSE):", mse)

Mean Squared Error (MSE): 0.03029929505608036

## Q3

The MSE deference between training the model 70% of the dataset is 0.030323568041804472 while it is 0.03331955320512922 on the 10%

The deference is 0.002995985163325 (~0.003) which I think is negligible.